<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tale.qa" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Teacher1Activity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".student.Student1Activity"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".compose_quiz.question_tab.Question_tab_Activity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".compose_quiz.ktc_tab.Activity_Ktc_tab"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Compose_Quiz"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".web_support.Web_support"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".File_support"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".compose_quiz.ktc_tab.Notepad_tab"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".compose_quiz.ktc_tab.Modify_note_tab"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".student.Student_Register"
            android:label="@string/title_activity_student__register"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".student.Student_Login"
            android:label="Sign In"
            android:noHistory="true" >
        </activity>
        <activity
            android:name=".file_manager.ListFileActivity"
            android:noHistory="true" >
        </activity>
        <activity android:name=".student.Activity_Student_onQuiz" >
        </activity>
        <activity
            android:name=".check_quiz.Activity_Check_Quiz"
            android:label="@string/check_quiz"
            android:parentActivityName=".Teacher1Activity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tale.qa.Teacher1Activity" />
        </activity>
        <activity
            android:name=".check_quiz.Activity_CheckQuiz_Undone"
            android:label="@string/check_quiz_undone"
            android:parentActivityName=".check_quiz.Activity_Check_Quiz"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tale.qa.check_quiz.Activity_Check_Quiz" />
        </activity>
        <activity
            android:name=".check_quiz.Activity_Undone_child"
            android:parentActivityName=".check_quiz.Activity_CheckQuiz_Undone" >
        </activity>
        <activity android:name=".file_manager.Activity_CheckQuiz_ListFile" >
        </activity>
        <activity android:name=".compose_quiz.question_tab.CreateQuestionTab" >
        </activity>
        <activity android:name=".compose_quiz.question_tab.ModifyQuestionTab" >
        </activity>
    </application>

</manifest>
